<app-header></app-header>
<body>
  <div class="container mt-5">
    <h2>Profil de l'employé</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nom de l'employé</h5>
        <p class="card-text">Nom: John Doe</p>
        <p class="card-text">Poste: Développeur Web</p>
        <p class="card-text">Département: Développement</p>
        <p class="card-text">Email: john.doeexample.com</p>
        <p class="card-text">Téléphone: +1234567890</p>
        <p class="card-text">Date d'embauche: 01/01/2020</p>
      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>
