<header class="bg-dark text-white p-3">
        <div class="container">
            <h1>Nom de l'entreprise</h1>
            <nav class="nav">
                <a class="nav-link text-white" routerLink="/dashboard">Tableau de bord</a>
                <a class="nav-link text-white" routerLink="/dossierpersonnel">Dossiers</a>
                <a class="nav-link text-white" routerLink="/conges">Congés</a>
                <a class="nav-link text-white" routerLink="/salaires">Salaires</a>

            </nav>
        </div>
    </header>
