<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mt-5">Connexion</h2>
                <form  action="/login" method="post">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur :</label>
                        <input   type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input  type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/forgot-password">Mot de passe oublié?</a>
                </div>
            </div>
        </div>
    </div>
