
<body>
     <app-header></app-header>
    <main class="container mt-4">
        <h2>Bienvenue, [Nom de l'utilisateur]!</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Statistiques Clés</h3>
                <ul class="list-group">
                    <li class="list-group-item">Nombre d'employés : 50</li>
                    <li class="list-group-item">Demandes de congé en attente : 5</li>
                    <li class="list-group-item">Évaluations de performance à venir : 3</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Graphiques et Widgets</h3>
                <div id="charts" class="border p-3">Graphiques ici</div>
            </div>
        </div>
    </main>
     <app-footer></app-footer>

</body>
